// --------------------------------------------------------------------- //
// Controller
// --------------------------------------------------------------------- //

// for dat.GUI
// .gui-container {
//     position: absolute;
//     right: 0;
//     top: 0;
// }

.controller-wrapper {
    float: left;
    width: 310px;
    position: relative;
    height: 100%;
}

.controller {
    position: relative;
    z-index: 200;
    height: 100%;
    overflow: auto;
    background-color: #ccc;
    border-right: 1px solid grey;
}

.controller__header {
    position: relative;
    background-color: hsl( 0, 0%, 96%);
    padding: 20px 20px 5px;
}
.logo {
    float: left;
    margin-top: -10px;
}
.controller__item {
    margin-bottom: 15px;
    position: relative;

    &:last-child {
        margin-bottom: 0;
    }
}

.canvas-settings {
    padding: 20px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.draw-settings {
    padding: 7px 20px 20px;
    border-top: 1px solid rgba(255,255,255,0.3);
}
.draw-settings__heading {
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0;
}

//
// Buttons
//
$button-radius: 5px;

.button {
    border: 0;
    outline: 0;
    padding: 8px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-shadow: 0 2px 0 rgba( 0, 0, 0, 0.3);
    border-right: 1px solid rgba(255,255,255,0.1);
    border-left: 1px solid rgba(0,0,0,0.1);
    @include backface-visibility(hidden);
    @include border-radius($button-radius);
    @include box-shadow(
        0 4px 0px rgba( 0, 0, 0, 0.65 )
    );
    @include background(
        linear-gradient( hsl(0, 0%, 65%), hsl(0, 0%, 35%) )
    );
    @include transition(
        opacity 100ms
        // box-shadow 10ms,
        // transform 10ms
    );
}


.button--group {
    float: left;

    @include border-radius(0px);
}
.button--group--left {

    @include border-top-left-radius($button-radius);
    @include border-bottom-left-radius($button-radius);
}
.button--group--right {

    @include border-top-right-radius($button-radius);
    @include border-bottom-right-radius($button-radius);
}
// the active button in a group
.button:active,
.button--active,
.button--group--active {
    top: 3px;
    // @include translateY(3px);
    @include box-shadow(
        0 1px 0px rgba( 0, 0, 0, 0.65 )
    );
    color: #8EDDF5;
    // @include background(
    //     linear-gradient( rgba(92,92,92,1), rgba(143,143,143,1) )
    // );
}

.button[disabled] {
    opacity: 0.5;
    pointer-events : none;
}

.button--full {
    width: 100%;
}
.button--1_2 {
    width: 50%;
}
.button--1_3 {
    width: 33.33%;
}

.button--inline {

}
.button--snug {
    margin-bottom: 4px;
}


.button--menu {
    float: right;
    padding-left: 12px;
    padding-right: 12px;
}



//
// Inputs
//
[type="number"] {
    width: 50px;
}
.input--color {
    width: 80px;
}
[type="range"] {
    width: 120px;
    border: 0;
}
input {
    border: 1px solid #aaa;
    padding: 3px;
}

.colorpicker-holder {
    position: absolute;
    bottom: 100%;
}

//
// Strokes
//

.stroke {
    position: relative;
    margin: 0 -20px;

    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
    }
    &:before {
        top: 0;
        border-top: 1px solid rgba( 255, 255, 255, 0.3 );
    }
    &:after {
        bottom: 0;
        border-bottom: 1px solid rgba( 0, 0, 0, 0.1 );
    }
}

.stroke__wrapper {
    overflow: hidden;
    position: relative;
    padding: 10px 20px 10px 20px;

    @include animation-duration( 300ms );
    @include animation-timing-function( ease-out );

    &.stroke--added {
        @include animation-name(strokeAdd);
    }
    &.stroke--deleted {
        @include animation-name(strokeRemove);
    }
}


@include keyframes(strokeAdd) {
    from {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    to {
        max-height: 52px;
    }
};
@include keyframes(strokeRemove) {
    from {
        max-height: 52px;
    }
    to {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
};


// .stroke__handle {
//     position: absolute;
//     left: 0;
//     top: 0;
//     height: 100%;
//     width: 20px;
//     background-color: rgba( 0, 0, 0, 0.1 );
//     cursor: move;
// }

.add-stroke {
    margin-bottom: 10px;
}

.stroke-delete {
    position: absolute;
    right: -2px;
    top: -1px;
}

// draggable
.sortable-placeholder {
    display: block;
    height: 3em;
    margin: 0 -20px;
    padding: 10px 20px;
    position: relative;
    background-color: hsl( 0, 0%, 35% );
}
.sortable-dragging {
    background-color: #ccc;
    cursor: move;
}