@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700);
$font-open : 'Open Sans', sans-serif;


//
// Icons
//
@font-face {
    font-family: 'loopalo';
    src:url('../fonts/loopalo.eot?-636fdw');
    src:url('../fonts/loopalo.eot?#iefix-636fdw') format('embedded-opentype'),
        url('../fonts/loopalo.woff?-636fdw') format('woff'),
        url('../fonts/loopalo.ttf?-636fdw') format('truetype'),
        url('../fonts/loopalo.svg?-636fdw#loopalo') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-family: 'loopalo';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    // customizing
    font-size: 1em;
    margin-right: 0.3em;
    margin-left: -0.4em;
    vertical-align: -1px;
    // Better Font Rendering
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon--solo {
    margin-left: 0;
    margin-right: 0;
}


// controller
.icon--menu {
    font-size: 1.5em;
    &:before {
        content: "\e603";
    }
}
.icon--draw {
    margin-right: 0.1em;
    &:before {
        content: "\f040";
    }
}
.icon--move:before {
    content: "\f047";
}
.icon--eraser:before {
    content: "\f12d";
}
.icon--bomb:before {
    content: "\f1e2";
}
.icon--plus:before {
    content: "\f067";
}
.icon--close:before {
    content: "\f00d";
}

// menu
.icon--photo:before {
    content: "\f03e";
}
.icon--download:before {
    content: "\f019";
}
.icon--upload:before {
    content: "\f093";
}
.icon--warning:before {
    content: "\f071";
}
.icon--trash:before {
    content: "\f014";
}