.menu {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #444;
    width: 75%;
    padding: 20px;
    z-index: 100;
    @include transition(all 300ms $easeOutQuad);
}
.menu--open {
    right: -75%;
}

.menu-list {}
.menu__item {
    margin-bottom: 20px;
}

.settings-list {
    background-color: #fff;
}
.settings-list__item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid rgba( 0, 0, 0, 0.1 );
}
.settings-list__item--active {
    background-color: #ddd;
}