// --------------------------------------------------------------------- //
// Helpers
// --------------------------------------------------------------------- //

// Clearfix
@mixin clearfix() {
    &:before,
    &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }
    &:after {
        clear: both;
    }
    *zoom: 1;
}

.cf {
    @include clearfix();
}

@mixin font-smoothing() {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}