@import 'compass/css3';
@import 'normalize';
@import 'fonts';
@import 'mixins';
@import 'farbtastic';

// --------------------------------------------------------------------- //
// Globals
// --------------------------------------------------------------------- //

body {
    font-size: 16px;
}

h1 {
    margin: 0;
}
ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

// --------------------------------------------------------------------- //
// Controller
// --------------------------------------------------------------------- //

.controller {
    float: left;
    width: 300px;
    padding: 20px;
}

.controller__item {
    margin-bottom: 20px;
}

//
// Buttons
//
$button-radius: 5px;
.button {
    border: 0;
    outline: 0;
    padding: 8px 16px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    @include border-radius($button-radius);
    @include box-shadow( 0 0 2px rgba( 0, 0, 0, 0.2 ) );
    @include background(
        linear-gradient( rgba(143,143,143,1), rgba(92,92,92,1) )
    );
}

.button--group {
    float: left;
    @include border-radius(0px);
}
.button--group--left {
    @include border-top-left-radius($button-radius);
    @include border-bottom-left-radius($button-radius);
}
.button--group--right {
    @include border-top-right-radius($button-radius);
    @include border-bottom-right-radius($button-radius);
}
// the active button in a group
.button:active,
.button--group--active {
    color: blue;
    padding-top: 9px;
    padding-bottom: 7px;
    @include background(
        linear-gradient( rgba(92,92,92,1), rgba(143,143,143,1) )
    );
}

.button--inline {

}

//
// Inputs
//
[type="number"] {
    width: 50px;
}
.input--color {
    width: 80px;
}

.colorpicker-holder {
    position: relative;
}

// --------------------------------------------------------------------- //
// SVG
// --------------------------------------------------------------------- //

.svg-wrapper {
    overflow: hidden;
border-left: 1px solid grey;
}

svg {
    display: block;
    cursor: pointer;
}
svg.drawing {
    cursor: crosshair;
}

svg path {
    stroke-dashoffset: 0;
    // @include animation(dash 5s linear);
    // @include animation-fill-mode(forwards);
    @include transition(stroke-dashoffset 5s linear);
}

@include keyframes(dash) {
    from {
        stroke-dashoffset: 6000;
    }
    to {
        stroke-dashoffset: 0;
    }
};

.gui-container {
    position: absolute;
    right: 0;
    top: 0;
}