@import 'compass/css3';

// --------------------------------------------------------------------- //
// Controller
// --------------------------------------------------------------------- //

.controller {
    float: left;
    width: 300px;
}

// --------------------------------------------------------------------- //
// SVG
// --------------------------------------------------------------------- //

.svg-wrapper {
    overflow: hidden;
}

svg {
    display: block;
    cursor: pointer;
}
svg.drawing {
    cursor: crosshair;
}

svg path {
    stroke-dashoffset: 0;
    // @include animation(dash 5s linear);
    // @include animation-fill-mode(forwards);
    @include transition(stroke-dashoffset 5s linear);
}

@include keyframes(dash) {
    from {
        stroke-dashoffset: 6000;
    }
    to {
        stroke-dashoffset: 0;
    }
};

.gui-container {
    position: absolute;
    right: 0;
    top: 0;
}