@import 'compass/css3';

.svg-wrapper {
    overflow: hidden;
}

svg {
    display: block;
}
svg path {
    stroke-dasharray: 6000;
    stroke-dashoffset: 6000;
    // -webkit-animation: dash 5s linear;
    // -webkit-animation-fill-mode: forwards;
    @include animation(dash 5s linear);
    @include animation-fill-mode(forwards);
}

@include keyframes(dash) {
    from {
        stroke-dashoffset: 6000;
    }
    to {
        stroke-dashoffset: 0;
    }
};